
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h2 class=" title">Your Groups</h2>
        </div>
        <div class=" card-body all-icons">
          <div class=" row">
            <div *ngFor="let group of allGroups"
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <img alt="..." class=" avatar" src={{group.image_url}} />
                <h5>{{group.name}}</h5>
              </div>
            </div>
            <!-- <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-alert-circle-exc"> </i>
                <p>icon-alert-circle-exc</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-align-center"> </i>
                <p>icon-align-center</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-align-left-2"> </i>
                <p>icon-align-left-2</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-app"> </i>
                <p>icon-app</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-atom"> </i>
                <p>icon-atom</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-attach-87"> </i>
                <p>icon-attach-87</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-badge"> </i>
                <p>icon-badge</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-bag-16"> </i>
                <p>icon-bag-16</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-bank"> </i>
                <p>icon-bank</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-basket-simple"> </i>
                <p>icon-basket-simple</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-bell-55"> </i>
                <p>icon-bell-55</p>
              </div>
            </div> -->
     

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
